*,::after,::before{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html{
  font-size: 62.5%;
}
body{
  background: rgba(128, 128, 128, 0.244);
  max-width: 120rem;
  margin: 3rem auto;
}
.container{
  max-width: 108rem;
  font-size: 1.6rem;
  font-family: monospace;
}
.main-heading{
  color: rgb(133, 133, 164);
  padding: 30px;
  text-align: center;
}